<launch>

  <!--JOYSTICK-->
  <node pkg="joy" type="joy_node" name="joy_node">
  </node>

  <!--SERIAL COM-->
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen">
    <param name="port" value="/dev/ttyACM0"/>
  </node>

  <!--CAR COMMANDER-->
  <node pkg="car_cmd" type="car_cmd.py" name="car_cmd"><!--output="screen"-->
  </node>

  <!--VELOCITY PUBLISHER-->
  <node pkg="esc_vel_pub" type="esc_vel_pub.py" name="esc_vel_pub">
  </node>
  
  <!--ODOMETRY PUBLISHER-->
  <!--<node pkg="ackermann_odom" type="ackermann_odom.py" name="ackermann_odom">
  </node>-->

  <!--ALIVE MSG-->
  <node pkg="heartbeat_broadcaster" type="heartbeat_broadcaster.py" name="heartbeat_broadcaster">
  </node>

  <!--LIDAR-->
  <node pkg="rplidar_ros" type="rplidarNode" name="rplidar_ros">
    <param name="serial_port"         type="string" value="/dev/ttyUSB0"/>
    <param name="serial_baudrate"     type="int"    value="115200"/>
    <param name="frame_id"            type="string" value="laser"/>
    <param name="inverted"            type="bool"   value="false"/>
    <param name="angle_compensate"    type="bool"   value="true"/>
    <param name="motor_pwm" value="900"/>
  </node>

  <!--SLAM-->
  <include file="$(find hector_slam_launch)/launch/tutorial.launch"></include>

  <!--WAYPOINT LOGGER-->
  <node pkg="waypoint_logger" type="waypoint_logger.py" name="waypoint_logger" output="screen">
  </node>

  <!--PURE PURSUIT-->
  <node pkg="pure_pursuit" type="pure_pursuit.py" name="pure_pursuit" output="screen">
  </node>

  <!--STANLEY CONTROLLER-->
  <!--<node pkg="pure_pursuit" type="stanley_steering.py" name="pure_pursuit" output="screen">
  </node>-->

  <!--ARUCO DETECTOR-->
  <!--<node pkg="aruco_detector" type="aruco_detector.py" name="aruco_detector" output="screen">
  </node>-->
  
  <!--CAN BUS-->
  <node pkg="can_charger_node" type="can_charger_node.py" name="can_charger_node" output="screen">
  </node>

  </launch>
